@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


.display {
    display: none;
}

.game-over {
    height: 100vh;
    width: 100vW;
    background-image:  url("../images/youLose-01.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.winner {
    height: 100vh;
    width: 100vW;
    background-image: url("../images/youWin-01.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    
}

.container {
    height: 100vh;
    width: 100vW;
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.container img {
    height: 60vh;
}

.entry-page  {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 20px 40px;
    text-transform: uppercase;
    background-image: linear-gradient(#C1F43C, #F2E988);
    color:#000;
    border-radius:15px;
    border: 4px solid #32C833;  
    font-size: 2rem;
    margin-top: 5%;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    box-shadow: none; 
    transform: scale(1.00);
    transition: box-shadow 0.5s ease;
    transition: transform 0.5s ease;  
    /* #32C833 */
}

.btn:hover {
    background-image: none;
    background-color: #C1F43C; 
    box-shadow: 0px 10px 50px -13px rgba(0,0,0,0.5);
    transform: scale(1.05);
    transition: box-shadow 0.5s ease;
    transition: transform 0.5s ease;
    /* border: 4px solid #00FFFF; */
}

.btn:active{
    background-image: none;
    background-color: #00FFFF; 
    border: 4px solid #00FFFF;
    box-shadow: 0px 10px 50px -13px rgba(0,0,0,0.5);
    transition: all 1s ease;
}

.display2{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.display1{
    z-index: 99999;
}

.btn-restart {
    margin-bottom:1%; 
    align-self: flex-end;
}